<div class="modal" tabindex="-1" role="dialog" id="create-room-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Create a room</h3>
      </div>
      <form id="create-room-form">
        <div class="modal-body">
          <div class="form-group">
            <label>Passcode</label>
            <input type="text" name ="passcode" class="form-control" placeholder="Keep empty if you want to create a public room">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
