
<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>Game Center</title>
  <meta charset="utf-8">
</head>
<body>

<% include navBar %>

<div class="container">
  <h3>Right Aligned Navbar</h3>
  <p>The .navbar-right class is used to right-align navigation bar buttons.</p>
</div>
<% include foot %>
</body>
</html>