<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>Game Center</title>
    <link rel="stylesheet" href="/static/css/navBar.css">
</head>
<body>

<% include navBar %>

<div class="container">
    <div class = "row">
        <div class = "col-0 col-md-2"></div>
        <div class = "col-12 col-md-8">
          <h3>Public Listed Rooms</h3>
          <div id = "roomContainer"><div>
        </div>
        <div class = "col-0 col-md-2"></div>
    </div>

</div>
<% include foot %>
<script src="/static/js/game-center.js"></script>
</body>
</html>