<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>Game Center</title>
    <link rel="stylesheet" href="/static/css/navBar.css">
    <link rel="stylesheet" href="/static/css/game-center.css">
</head>
<body>

<% include navBar %>

<div class="container">
    <div class = "row">
        <div class = "col-12 col-md-4">
            <div class="jumbotron">
                <h2 class="display-3">Hello, <span class = 'name_container'>Anonymous</span></h2>
                <p class = 'room_id_container'>You are not in any room now.</p>
                <hr class="my-4">
                <p>Joined time: <span class = 'time_container'></span></p>
            </div>
        </div>
        <div class = "col-12 col-md-6">
          <h3>Public Listed Rooms</h3>
          <div id = "roomContainer"></div>
        </div>
        <div class = "col-12 col-md-2"></div>
    </div>

</div>
<% include foot %>
<script src="/static/js/game-center.js"></script>
</body>
</html>