<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <link rel="stylesheet" href="/static/css/game-center.css">
    <title>Game Center</title>
</head>
<body>
  <% include nav-bar %>

  <div id="room-container" class="container">

  </div>

  <% include join-room %>
  <% include profile %>
  <% include create-room %>

  <% include scripts %>
  <script src="/static/js/game-center.js"></script>
  <script src="/static/js/join-room.js"></script>
  <script src="/static/js/create-room.js"></script>
  <script src="/static/js/change-nickname.js"></script>
</body>
</html>
