<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Center</title>
    <link rel='stylesheet' href='/static/css/bootstrap.css' />
    <link rel='stylesheet' href='/static/css/navBar.css' />
  </head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="/static/js/game-center.js"></script>
  <body>
    <% include navBar %>
    <h3>Game Center</h3>
    <div class="room-info">
      <h4>Room List</h4>
          <div class="room-col">
          </div>
    </div>
    <div class="game-table">
          <div>
              <img src={{image}} class="img">
          </div>
    </div>
    <% include foot %>
  </body>
</html>

