<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <link rel="stylesheet" href="/static/css/game-center.css">
    <title>Game Center</title>
</head>
<body>
<<<<<<< HEAD
  <% include nav-bar %>

=======
    <div id='navbar-container'>
        <% include nav-bar %>
    </div>
>>>>>>> 38fc6dd9a9e70f2a33a054eebd922653bdbe11d0
  <div id="room-container" class="container">

  </div>

  <% include join-room %>
  <% include profile %>
  <% include create-room %>

  <% include scripts %>
  <script src="/static/js/game-center.js"></script>
  <script src="/static/js/join-room.js"></script>
  <script src="/static/js/create-room.js"></script>
  <script src="/static/js/change-nickname.js"></script>
</body>
</html>
