<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <link rel="stylesheet" href="/static/css/game-center.css">
    <title>Game Center</title>
</head>
<body>
    <div id = 'navbar-container'>
        <% include nav-bar %>
    </div>
  <div class="rooms_container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th># Players</th>
          <th># Observers</th>
          <th>Enter room as</th>
        </tr>
      </thead>
      <tbody id="room-table">
      </tbody>
    </table>
  </div>

  <% include join-room %>
  <% include profile %>
  <% include create-room %>

  <% include scripts %>
  <script src="/static/js/game-center.js"></script>
  <script src="/static/js/join-room.js"></script>
  <script src="/static/js/create-room.js"></script>
  <script src="/static/js/change-nickname.js"></script>
</body>
</html>
