<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>Score Board</title>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Guess My Drawings</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/">Game Center</a></li>
              <li><a href="/score-board">Score board</a></li>
              <li class="active"><a href="/history">History</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span><%= user.nickname %></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/users/logout">Logout</a></li>
                </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h2 class="text-center">Your Past Rounds</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Role</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody id="history-table">
      </tbody>
    </table>
  </div>

  <% include scripts %>
  <script src="/static/js/history.js"></script>
</body>
</html>
