  <!DOCTYPE html>
<html ng-app="joinRoom">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join room</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="/static/js/join-room.js"></script>
  <body ng-controller="joinRoomController">

    <div class="joinroom">
      <h3>Join a room</h3>
      <input type="text" placeholder="Room Id" ng-model="formData.room_id"><br><br>
      <input type="password" placeholder="Passcode" ng-model="formData.passcode"><br><br>
      <input type="checkbox" ng-click="isObserver()">Observer<br><br>
      <button type="submit" ng-click="joinRoom()">Join</button>
    </div>
  </body>
</html>

  


    