<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>Game Center</title>
    <link rel="stylesheet" href="/static/css/navBar.css">
</head>
<body>

<% include navBar %>

<div class="container">
    <input type = "text" placeholder = "Room Id"><br><br><br>
    <input type = "password" placeholder = "Passcode"><br><br>
    <input type = "checkbox"> Observer<br><br>
</div>
<% include foot %>
    <script src="/static/js/join-room.js"></script>
</body>
</html>

  


    