<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Guess my drawing</title>
    <link type="text/css" rel="stylesheet" href="/static/css/login.css">
  </head>
  <body>
    <h1>Welcome to Draw and Guess!</h1>
    <a href="/users/login">Login with Facebook</a>
    <div>
      <img src="/images/logo.png">
    </div>
    <script src="/static/js/socket.io.js"></script>
     <script>
       var socket = io();
     </script>
  </body>

</html>
