<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">You Draw I Guess</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Game Center</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Operations<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/change-nickname">Change your nickname</a></li>
          <li><a href="/create-room">Create Room</a></li>
          <li><a href="/join-room">Join Room</a></li>
        </ul>
      </li>
      <li><a href="#">Scoreboard</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  action="/users/logout" method="get">
        <button id="logOutButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
    </form>
  </div>
</nav>