<div class="modal" tabindex="-1" role="dialog" id="profile-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Profile</h3>
      </div>
      <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item">Drawing Score: <%= user.score_draw %></li>
            <li class="list-group-item">Guessing Score: <%= user.score_guess %></li>

          </ul>
          <hr>

        <form id="change-nickname-form" class="form-inline">
          <div class="form-group">
              <label for="input-nickname">Nickname</label>
              <input type="text" name="nickname" id="input-nickname" class="form-control" value="<%= user.nickname %>" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
