<!DOCTYPE html>
<html>

  <head>
    <% include head %>
    <title>Game Room</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Guess My Drawings</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="navbar-text">Room #<%= user.room_id %></li>
            <li class="navbar-text" id="room-passcode"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="logout" href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Exit Room</a></li>
        </ul>
      </div>
    </nav>

    <input type="text" value="<%= user.token %>" hidden="true" id="user-token">

    <div class="container" id="idle-div">
      <% include idle %>
    </div>

    <div class="container" id="painter-div">
      <% include painter %>
    </div>

    <div class="container" id="guesser-div">
      <% include guesser %>
    </div>

    <% include scripts %>
    <script src="/static/js/room.js"></script>
  </body>

</html>
