<!DOCTYPE html>
<html>

  <head>
    <% include head %>
    <script src="/static/js/jscolor.js"></script>
    <title>Game Room</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Guess My Drawings</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <p class="navbar-text">Room #<%= user.room_id %></p>
            <p class="navbar-text" id="room-passcode"></p>
            <button type="button" id="logout-btn" class="btn btn-default navbar-btn navbar-right">Exit Room</button>
          </div>
      </div>
    </nav>

    <div class="container">
      <div class="alert alert-warning" role="alert" id="alert-div" hidden="true">
      </div>

      <div class="row">

        <div class="col-sx-12 col-md-8" id="users-div" hidden="true">
          <h4 class="text-center">Users</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Nickname</th>
                <th>Score</th>
                <th>Role</th>
                <th>Ready</th>
              </tr>
            </thead>
            <tbody id="users-tbody">
            </tbody>
          </table>
        </div>

        <div id="painter-div" class="col-sx-12 col-md-8" hidden="true">
          <div class="alert alert-info" role="alert">
            <p>Please draw <em id="word" class="word"></em>. <span class="count-down"></span> seconds left.</p>
          </div>
          <canvas id="painter-canvas" width="600" height="400"></canvas>
          <div class="btn-group" role="group" id="style-div">
            <button type="button" id="pencil-btn" class="btn btn-default active">Pencil</button>
            <button type="button" id="brush-btn" class="btn btn-default">Brush</button>
            <button type="button" id="eraser-btn" class="btn btn-default">Eraser</button>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          Color: <input id = "color-selector" class="jscolor" value="000000">
            &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-default" id="clear-btn">Clear</button>
        </div>

        <div id="guesser-div" class="col-sx-12 col-md-8" hidden="true">
          <div class="alert alert-info" role="alert">
            <p><span id="guesser-prompt">Please guess an answer.</span> <span class="count-down"></span> seconds left</p>
          </div>
          <canvas id="guesser-canvas" width="600" height="400"></canvas>
          <form class="form-inline" id="guess-form">
            <input class="form-control" type="text" name="submission" placeholder="Enter your answer here" required>
            <button type="submit" class="btn btn-primary">Submit</button>
            <span id="guess-result"></span>
          </form>
        </div>

        <div class="col-sx-12 col-md-4">
          <h4 class="text-center">Events</h4>
          <ul id="messages" class="list-group">
          </ul>
          <hr>
          <div id="idle-div" hidden="true" class="text-center">
            <button type="button" class="btn btn-lg btn-primary" id="ready-btn">I am ready</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="round-result-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Round ended. The answer is <em id="round-result-answer" class="word"></em></h3>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr><th>Nickname</th><th>Score</th></tr>
              </thead>
              <tbody id="round-result-tbody">
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <% include scripts %>
    <script src="/static/js/room.js"></script>
  </body>

</html>
