<!DOCTYPE html>
<html>

  <head>
    <% include head %>
    <title>Game Room</title>
    <link rel="stylesheet" href="/static/css/navBar.css">
  </head>

  <body>
    <% include navBarRoom %>
    <h1>Hello, <span id = 'nameContainer'></span>! </h1>
    <% include foot %>
    <script src="/static/js/room.js"></script>
  </body>

</html>
