body {
  font-family: Arial;
  text-align: center;
}

img {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

a {
  font-size: 2rem;
  color: white;
  background-color: #3f51b5;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  margin: 20px;
}
