body {
    min-height: 1000px;
    padding: 70px;
}

.panel {
    max-width: 40em;
    margin: 2em;
    text-align: center;
    display: inline-block;
}

.modal-backdrop
{
    opacity:0.6 !important;
}
