html, body {
    height: 100%;
    margin: 0;
}

.error {
    color: red;
}

.room {
    padding: 1em;
    border: 1px solid #ccc!important;
    text-align: center;
}

.room .join_room_form {
    margin: 1em;
}
