
body {
    min-height: 1000px;
    padding: 70px;
}


#canvas_selector {
    margin: 2em;
}

#canvas_selector div {
    margin: 1em;
}


#canvas_container {
    margin: 2em 0 2em 0;
    border: 1em outset;
}

#msg_container {
    margin-top: 1em;
}

.modal-backdrop
{
    opacity:0.6 !important;
}
