#canvas_selector {
    margin: 2em;
}

#canvas_container {
    margin: 2em 0 2em 0;
    border: 1em outset;
}

#msg_container {
    margin-top: 1em;
}

.modal-backdrop
{
    opacity:0.6 !important;
}
