.modal-backdrop
{
    opacity:0.6 !important;
}

.room-panel {
    max-width: 40em;
    margin: 2em;
    text-align: center;
    display: inline-block;
}


canvas {
   display: block;
   border-width: 1px;
   margin-bottom: 10px;
   border: solid #000000;
}

.heading {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    text-align: center;
}

.word {
  font-size: 2rem;
  color: blue;
}