
a {
  color: #00B7FF;
}

h3 {
    font-size: 2rem;
    font-family: Arial;
    text-align: center;
    font-color: lightblue;
}

h4 {
    font-size: 1.5rem;
    font-family: Arial;
    text-align: center;
    font-color: lightblue;
}

button {
  float: bottom;
  display: block;
  font-size: 1rem;
  color: white;
  font-family: Arial;
  background-color: #3f51b5;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer; cursor: hand;
  margin-right: 0;
  margin-top: 1%;
}

.room-info {
  text-align: justify;
  font-size: 1rem;
  color: blue;
  font-family: Arial;
  background-color: lightgrey;
  padding: 5px 5px;
  border-radius: 3px;
  margin-right: 0;
  margin-left: 70%;
  margin-top: 1%;
}

.alignleft {
  text-align: left;
}
.alignright {
  float: right;
}

.game-table {
    margin-top: -20%;
    margin-left: 5%;
}
.img {
    max-width: 60%;
}
