  <!DOCTYPE html>
<html ng-app="changeNickname">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Center</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="/static/js/change-nickname.js"></script>
  <body ng-controller="changeNickNameController">

    <div class="nickname">
      <h3>Please create your nickname</h3>
      <input type="text" placeholder="nickname" ng-model="formData.nickname"><br><br>
      <button type="submit" ng-click="changeNickname()">Create</button>
    </div>
  </body>
</html>

  


    