  <!DOCTYPE html>
<html ng-app="createRoom">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join room</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="/static/create-room.js"></script>
  <body ng-controller="createRoomController">

    <div class="createroom">
      <h3>Create a room</h3>
      <input type="password" placeholder="Passcode" ng-model="formData.passcode"><br><br>
      <button type="submit" ng-click="createRoom()">Create</button>
    </div>
  </body>
</html>

  


    