  <!DOCTYPE html>
<html ng-app="gameCenter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Center</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="/static/game-center.js"></script>
  <body ng-controller="gameCenterController">

    <h3>Game Center</h3>
    <button ng-click="joinRoom()">Join a Room</button>
    <button ng-click="createRoom()">Create a new Room</button>
    <div class="room-info">
      <h4>Room List</h4>
      <a ng-repeat="room in rooms">
          <div class="room-col">
          Room{{room.id}}<br><br>
          </div>
      </a>
    </div>
    <div class="game-table">
      <a ng-repeat="image in images">
          <div>
              <img src={{image}} class="img">
          </div>
      </a>
    </div>
    
  </body>
</html>

  


    