export FB_APP_ID="2222226"
export FB_APP_SECRET="axxxxxxxxxxxxxxesssssc"
export FB_CALLBACK_URL="http://127.0.0.1:3000/users/callback"

export REDIS_HOST="127.0.0.1"
export REDIS_PORT=6379
export SESSION_SECRET="top-secret"

export PG_HOST="127.0.0.1"
export PG_PORT=5432
export PG_USERNAME="wwwwwwwwww"
export PG_PASSWORD="xxxxxxxxxxxxx"
export PG_DATABASE="draw"

export PORT=3000
export NODE_ENV="development"
